*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    background: #7c0555;
}
.form_perfil{
    width: 60%;
    max-width: 500px;
    margin: auto;
    background: #d339ac;
}
.contenedor-input{
    text-align: center;
   
}
.titulo_form_clientes{
    background: #d4257d;
    color: #FFFFFF;
    padding: 8px;
    text-align: center;
    font-weight: 100px;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid rgb(209, 212, 11);
}
.contenedor-input{
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tabla-perfil{
    text-align: left;
    border: 1px solid #0a0a0a;
    width: 100%;
}
.Tabla-Botones{
    text-align: center;
    border: 1px solid #0cd5e4;
}
.input-50{
    width: 50%;
}
.btn-registrarse{
    background: #90b7bd;
    color: #0a0000;
    margin: auto;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 7px;
}
.btn-registrarse:active {
    transform:scale(1.10)
}
